:root {
  font-family: monospace;

  --bg-color: #FCF7DF;
  --text-color: #3E3630;
  --primary-color: #c7d3db;
  --secondary-color: #a79a8a;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  width: 75vw;
  margin: 0 auto;
  padding: 2rem;
}

.content {
  display: flex;
  height: 92dvh;
  overflow: hidden;
}

h1 {
  padding: 1rem 0;
  margin: 0;
}

button {
  font-family: monospace;
  display: block;
  background: none;
  border: none;
  text-align: left;
  padding: 6px 0;
  cursor: pointer;
  color: var(--text-color);
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 5px;
}

button:hover {
  text-decoration: underline;
}

.icon {
  width: 16px;
  height: 16px;
}

#header {
  margin: 0 2rem 1rem 2rem;
  padding: 0.5rem 1rem;
  background-color: var(--text-color);
  color: var(--primary-color);
}

/* webkit browsers (chrome, edge, safari) */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: var(--secondary-color);
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--text-color);
}

/* firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--secondary-color) transparent;
}