:root {
  font-family: monospace;
  margin: 0 auto;
  padding: 2rem;
}

.content {
  display: flex;
  height: 90dvh;
  overflow: hidden;
}

h1 {
  padding: 1rem 0;
  margin: 0;
}

button {
  font-family: monospace;
  display: block;
  background: none;
  border: none;
  text-align: left;
  padding: 6px 0;
  cursor: pointer;
  color: #222;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 5px;
}

button:hover {
  text-decoration: underline;
}

.icon {
  width: 16px;
  height: 16px;
}

#header {
  margin: 0 2rem 1rem 2rem;
  padding: 0.5rem 1rem;
  background-color: rgb(220, 220, 220);
}