.add-container {
  padding: 0 2rem;
  overflow-y: auto;
  width: 100%;
}

.add-container #header {
  margin: 0 0 1rem 0;
}

.add-container input {
  padding: 10px;
  border: 1px solid black;
  background: #fafafa;
  margin-bottom: 1rem;
}

#arrow-icon {
  width: 16px;
  height: 16px;
}

.add-container button {
  margin-left: 1rem;
  cursor: pointer;
}

.add-container button:hover {
  text-decoration: underline;
}

.book-preview {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: 400px 1fr;
  gap: 4rem;
  align-items: start;
  position: relative;
}

.cover-frame {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.25rem;
}

.cover-frame::before {
  content: "";
  position: absolute;
  width: 310px;
  height: 310px;
  border-radius: 50%;
  background: rgb(235, 235, 235);
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 0;
}

.book-cover {
  width: 230px;
  height: 340px;
  object-fit: cover;

  position: relative;
  z-index: 2;

  box-shadow: 10px 10px 15px 3px rgb(128, 128, 128);
}

.book-info {
  flex: 1;
  margin-right: 5rem;
}

.author {
  color: #666;
  margin: 0;
  padding-bottom: 1rem;
}

.description-box {
  /* max-width: 60ch; */
  padding: 1rem 0 1rem 0;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

#description {
  white-space: pre-line;
}

.edit-fields {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;
}

textarea {
  min-height: 80px;
  padding: 10px;
  border: 2px solid black;
  background: #fafafa;
}

.edit-fields input[type="number"] {
  width: 120px;
}
