.add-container {
  margin-left: 2rem;
  padding-right: 2rem;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

.add-container .details-container {
  padding-left: 0;
}

.add-container #header {
  margin: 0 0 1rem 0;
}

.isbn-input {
  padding: 10px;
  border: 1px solid var(--text-color);
  background: #fafafa;
  margin-bottom: 1rem;
}

#arrow-icon {
  width: 16px;
  height: 16px;
}
