.book-card {
  display: flex;
  flex-direction: column;
  width: 200px;
  border-right: gray 1px solid;
  padding-bottom: 1rem;
}

.card-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 1rem;
}

.cover {
  height: 230px;
  margin: 0 1rem;
  object-fit: cover;
  border: 1px solid black;
}

.card-content {
  margin: 0.5rem 1rem;
  display: flex;
  flex-direction: column;
  flex: 1;
  border-bottom: 2px solid black;
}

.title {
  font-size: 1.1rem;
  margin: 3px 0;
}

.author {
  margin: 3px 0;
  color: #555;
}

.rating {
  margin: 3px 0;
  color: #ff9800;
}

.card-content button {
    margin-top: auto;
}