.book-card {
  border-bottom: 2px solid black;
  border-right: 2px solid black;
  background: #fafafa;
  display: flex;
  flex-direction: column;
  width: 200px;
}

.cover {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-bottom: 2px solid black;
}

.card-content {
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.title {
  font-size: 1.1rem;
  margin: 3px 0;
}

.author {
  margin: 3px 0;
  color: #555;
}

.rating {
  margin: 3px 0;
  color: #ff9800;
}

.card-content button {
    margin-top: auto;
}