.nav-container {
  display: flex;
  flex-direction: column;
  width: 190px;
  height: 100%;
  border-right: 2px solid black;
  justify-content: space-between;
  flex-shrink: 0;
}

.folder {
  color: #777;
}

.nav-group button {
  margin-left: 2rem;
}

#nnyleak {
  color: black;
  font-weight: bold;
  text-decoration: none;
}

#nnyleak:hover {
  text-decoration: underline;
}